.marcuswestin-Layout {

}

.marcuswestin-Layout .marginTop {
	width: 100%;
	height: 40px;
	background: url("/img/app/top.png") repeat-x 0 1px;
}

.marcuswestin-Layout .marginLeft {
	min-height: 100%;
	margin-left: 80px;
	padding-left: 60px;
	background: url("/img/app/left.png") repeat-y;
}

.marcuswestin-Layout .logo {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 149px;
	width: 240px;
	background: white url("/img/app/logo.png") no-repeat scroll right bottom;
}

.marcuswestin-Layout .content {
	padding-top: 40px;
}

.marcuswestin-Layout .header {
	height: 110px;
	margin-left: 110px
}

.marcuswestin-Layout .slogan {
	font-size: 16px;
	margin: 10px 0 20px;
	position: absolute;
	top: 40px;
	right: 10px;
}

.marcuswestin-Layout .header .ui-TabContainer {
	padding: 47px 0 0 30px;
}

