.ui-TabContainer {
}
.ui-TabContainer .tab {
	padding: 10px;
	margin: 2px;
	border: 1px solid #a2a2a2;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	color: #828282;
}
.ui-TabContainer .tab:hover {
	color: #a2a2a2;
}